# ===== Python =====
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg
.eggs/

# ===== Виртуальные окружения =====
venv/
.venv/
env/
ENV/
.python-version

# ===== Тесты и покрытие =====
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover
.tox/
.nox/

# ===== Allure =====
allure-results/
allure-report/

# ===== IDE =====
.idea/
.vscode/
*.swp
*.swo

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini

# ===== Секреты =====
.env
.env.local
*.secret